.clearfix {
  overflow: auto;
}

html, body, .container {
  height: 100%;
  background-color: #f7f6ef;
  color: #6f6f6f;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body > .container {
  height: auto;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.board {
  background-color: #bbb;
  min-height: 60vh;
  width: 60vh ;
  margin: 0 auto;
  display: inline-block;
}

.square2 {
  /*border: 20px black;*/
  background-color: #555;
  height: 20vh;
  width: 20vh;
  display: inline-block;
  /*display: block;*/
}
